/* pages/index/index.wxss */

.book {
  width: 100%;
  height: 360rpx;
  margin-bottom: 24rpx;
  border-top-right-radius: 90rpx !important;
  border-bottom-right-radius: 90rpx !important;
  border-bottom-left-radius: 40rpx !important;
  border-top-left-radius: 40rpx !important;
}
