:root,
page {
  box-sizing: border-box;
  background: #f1f1f1;
  height: 100%;
}

.dark {
  color: #ffffff;
  background: #121212;
}

/* 覆盖uvui样式 */
.uv-button--circle {
  border-radius: 1rem !important;
}