/* ==================
         时间轴
 ==================== */

.cu-timeline {
  display: block;
  background-color: var(--white);
}

.cu-timeline .cu-time {
  width: 120rpx;
  text-align: center;
  padding: 20rpx 0;
  font-size: 26rpx;
  color: #888;
  display: block;
}

.cu-timeline > .cu-item {
  padding: 30rpx 30rpx 30rpx 120rpx;
  position: relative;
  display: block;
  z-index: 0;
}

.cu-timeline > .cu-item:not([class*="text-"]) {
  color: #ccc;
}

.cu-timeline > .cu-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 1rpx;
  background-color: #ddd;
  left: 60rpx;
  height: 100%;
  top: 0;
  z-index: 8;
}

.cu-timeline > .cu-item::before {
  font-family: "cuIcon";
  display: block;
  position: absolute;
  top: 36rpx;
  z-index: 9;
  background-color: var(--white);
  width: 50rpx;
  height: 50rpx;
  text-align: center;
  border: none;
  line-height: 50rpx;
  left: 36rpx;
}

.cu-timeline > .cu-item:not([class*="cicon-"])::before {
  //content: "\e763";
}

.cu-timeline > .cu-item[class*="cicon-"]::before {
  background-color: var(--white);
  width: 50rpx;
  height: 50rpx;
  text-align: center;
  border: none;
  line-height: 50rpx;
  left: 36rpx;
}

.cu-timeline > .cu-item > .content {
  padding: 30rpx;
  border-radius: 6rpx;
  display: block;
  line-height: 1.6;
}

.cu-timeline > .cu-item > .content:not([class*="bg-"]) {
  background-color: var(--ghostWhite);
  color: var(--black);
}

.cu-timeline > .cu-item > .content + .content {
  margin-top: 20rpx;
}
