:root,
page {
	background: #efefef;
	height: 100%;
	box-sizing: border-box;
	// 修改按主题色
	--wot-tag-fs: 14px;
	--wot-color-theme: #f87171;
	--wot-cell-tap-bg: transparent;
	--wot-search-light-bg: transparent;
}

// 去除button的所有默认样式，让其表现跟普通的view、text元素一样
.reset-button {
	/* 移除内外边距 */
	margin: 0;
	padding: 0;

	/* 移除默认的背景和边框 */
	background: none;
	border: none;

	/* 移除默认的文字样式 */
	font: inherit;
	color: inherit;

	/* 移除按钮的内建样式 */
	appearance: none;
	/* 对于大多数现代浏览器 */
	-webkit-appearance: none;
	/* Safari 和 Chrome */

	/* 移除点击时的轮廓 */
	outline: none;

	/* 可选：确保按钮可以被点击 */
	cursor: pointer;

	/* 如果需要完全去除所有用户交互样式 */
	&:active,
	&:focus,
	&:hover,
	&:after {
		background: none;
		border: none;
		outline: none;
	}
}

.wd-button.is-round {
	border-radius: 0.75rem !important;
}

.wd-index-anchor {
	background-color: transparent !important;
}

.wd-input__required--left {
	display: none;
}

.wd-divider {
	padding: 0 !important;
}

@import '@climblee/uv-ui/index.scss';
$uv-primary: #f87171;