/* pages/giftOut/index.wxss */
page {
  --bg: #F5F5F5;
  --c1: orange;
  --c2: #ff2e63;
  --c3: #a33b55;
  --c4: #ffe2e2;
  --c5: #bbded6;
  --c6: #ffde7d;
  --c7: #eeeeee;
  --c8: #a8edea;
  --c9: #fed6e3;
}

/* 样式3 */
.card-3 {
  margin: 20px auto;
  width: 700rpx;
  height: 200rpx;
  position: relative;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .2));
}

.card-3::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  -webkit-mask: radial-gradient(circle at 30rpx 30rpx, transparent 30rpx, red 0) -30rpx -30rpx;
  mask: radial-gradient(circle at 30rpx 30rpx, transparent 30rpx, red 0) -30rpx -30rpx;
  background-image: linear-gradient(to right, var(--c8) 0%, var(--c9) 100%);
}