/* pages/book/details/index.wxss */
/* 内容 */
page {
	--bg: #F5F5F5;
	--c1: orange;
	--c2: #ff2e63;
	--c3: #a33b55;
	--c4: #ffe2e2;
	--c5: #bbded6;
	--c6: #ffde7d;
	--c7: #eeeeee;
	--c8: #a8edea;
	--c9: #fed6e3;
  }

/* 样式4 */
.card-4 {
	margin: 20px auto;
	width: 700rpx;
	height: 126rpx;
	position: relative;
	border-radius: 20rpx;
	background: radial-gradient(circle at 30rpx 25rpx, transparent 10rpx, #f77062 0, #fe5196 100%) top left/700rpx 40rpx;
	filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, .2));
  }